.main {
  font-family: "Teko", sans-serif;
  font-weight: lighter;
  font-size: 2em;
  color: rgb(255, 255, 255);
  width: 100%;
  text-align: center;
}
.features{
  text-align: left;
  margin: auto;
  width: 60%;
  padding: 10px;
}

body {
  background-color: black;
  background-image: url(https://i.imgur.com/J3GVQQ6.jpg);
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  margin: 0;
  overflow: scroll;
}